+++
title = "Home"
linkTitle = "Home"

+++

{{< blocks/cover title="Welcome to Icarus Project"  color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/icaruslab">
		Code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">An online repository for documented Internet censorship circumvention techniques and methods.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}



{{< blocks/section >}}
<div class="col">
<h3 class="text-center"><b>Implementation guides and technical evaluations</b> </h3>
<h3 class="text-center">We provide step-by-step implementation guides and technical evaluations to reduce the technical and research efforts needed on the publisher’s side in order to have their own mirrors. </h3>
</div>
{{< /blocks/section >}}

{{% blocks/lead color="secondary" %}}
**We test and document** Internet censorship circumvention techniques

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Get in contact!" %}}
If you have any questions or ideas.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/icaruslab" %}}
We do a [Pull Request](https://github.com/icaruslab/docs/pulls) contributions workflow on **GitHub**. New contributors are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/IcarusProject0" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
{{< /blocks/section >}}

